.resources {
  &__section-subtitle {
    max-width: 100%;
  }

  &__logo-zone {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 3rem;

    @media screen and (min-width: 1280px) {
      grid-gap: 6rem;
    }
  }

  &__logo {
    display: flex;
    object-fit: contain;
    margin: 0 auto;
    padding: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-in-out;

    &:hover {
      @media screen and (min-width: 992px) {
        opacity: 0.3;
        transform: scale(1.2);
      }
    }
  }
}
