@use "sass:map";
@import "./src/scss/variables";

.table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(map.get($spaces, xxl), 1fr));
  grid-gap: map.get($spaces, sm);

  @media (min-width: map.get($grid-breakpoints, lg)) {
    grid-gap: map.get($spaces, md);
  }

  &_theme_dark {
    counter-reset: listNumber;
  }

  &__cell {
    display: flex;
    flex-direction: column;
    gap: map.get($spaces, xs);

    &_theme_dark {
      color: map.get($theme-colors, "text-light");
      counter-increment: listNumber;

      &::before {
        content: counter(listNumber);
        font-weight: map.get($font-weight, "bold");
        font-size: map.get($font-size, sm);
      }
    }
  }
}
