.video__iframes {
  display: grid;
  gap: 1.25rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media screen and (min-width: 992px) {
  .video__iframes {
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .video__iframes {
    grid-template-columns: repeat(2, 35rem);
  }
}
