.feynman__link {
  margin: 0;
  color: #006cd6;
  text-decoration: none;
  transition: opacity 1s ease-out;
}

@media screen and (min-width: 992px) {
  .feynman__link:hover {
    opacity: 0.3;
  }
}

@media screen and (min-width: 1280px) {
  .feynman__link {
    text-align: right;
  }
}
