.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 2.25rem;
  line-height: 51px;
  color: #006cd6;
  text-decoration: none;
  transition: opacity 1s ease-out;
}

.feynman__link:hover {
  opacity: 0.3;
}
