@use "sass:map";
@import "./src/scss/variables";

$section-subtitle-width: 60%;

.page {
  font-weight: map.get($font-weight, "normal");
  font-family: $font-stack;
  line-height: map.get($line-height, lg);

  &__container {
    position: relative;
    max-width: map.get($container-max-widths, lg);
    margin: 0 auto;
    padding: map.get($spaces, sm) map.get($spaces, xs);

    @media (min-width: map.get($grid-breakpoints, lg)) {
      padding: map.get($spaces, sm);
    }

    @media (min-width: map.get($grid-breakpoints, xl)) {
      padding: map.get($spaces, md);
    }
  }

  &__section {
    overflow: hidden;
  }

  &__section-subtitle {
    max-width: $section-subtitle-width;
    margin: 0 auto;
  }

  &__video {
    margin-bottom: -(map.get($spaces, md));

    @media (min-width: map.get($grid-breakpoints, xl)) {
      margin-bottom: -(map.get($spaces, xl));
    }
  }

  &__oakley {
    padding-top: map.get($spaces, sm);

    @media (min-width: map.get($grid-breakpoints, xl)) {
      padding-top: map.get($spaces, md);
    }
  }

  &__feynman {
    padding-bottom: map.get($spaces, xxl);

    @media (min-width: map.get($grid-breakpoints, lg)) {
      padding-bottom: map.get($spaces, lg);
    }
  }
}
