.page__header {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  padding: 0 1rem;
}

@media screen and (min-width: 992px) {
  .page__header {
    min-height: 37.5rem;
    max-height: 47.25rem;
    padding: 0;
  }
}
