.footer__columns {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (min-width: 575px) {
  .footer__columns {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
