.feynman {
  background-image: url('../../images/feinman.png');
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: 54.1875rem 39.8125rem;
  background-position: left bottom;
}
