.feynman {
  background-image: url('../../images/feinman.webp');
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: auto 15rem;
  background-position: right bottom;
}

@media screen and (min-width: 768px) {
  .feynman {
    background-size: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .feynman {
    background-position: left bottom;
  }
}
