.header {
  display: flex;
  position: relative;
  z-index: 999;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #f2f2f2;
  background-image: url('/../../images/two_again.webp');
  background-repeat: no-repeat;
  background-size: auto 15rem;
  background-position: right bottom;
}

@media screen and (min-width: 768px) {
  .header {
    background-size: 60% auto;
  }
}

@media screen and (min-width: 992px) {
  .header {
    background-size: 50% auto;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    background-size: 45% auto;
  }
}
