@use "sass:map";
@import "./src/scss/variables";

.article {
  display: flex;
  flex-direction: column;
  gap: map.get($spaces, sm);

  @media (min-width: map.get($grid-breakpoints, md)) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    color: map.get($theme-colors, "primary");
    font-weight: map.get($font-weight, "normal");
    font-size: map.get($font-size, lg);
  }

  &__paragraph:not(:last-of-type) {
    margin-bottom: map.get($spaces, xs);
  }

  &__span-accent {
    padding-right: map.get($spaces, xxs);
    font-weight: map.get($font-weight, "bold");
  }
}
