@use "sass:map";
@import "./src/scss/variables";

$image-border-radius: 50%;

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(map.get($spaces, xxl), 1fr));
  grid-gap: map.get($spaces, sm);

  @media (min-width: map.get($grid-breakpoints, lg)) {
    grid-gap: map.get($spaces, md);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: map.get($spaces, xs);
    align-items: center;
    text-align: center;

    @media (min-width: map.get($grid-breakpoints, xl)) {
      justify-content: space-between;
    }
  }

  &__image {
    border-radius: $image-border-radius;
  }

  &__title {
    font-size: map.get($font-size, md);
  }
}
