.kaufman {
  background-color: #1f1f1f;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .kaufman::after {
    content: "";
    width: 54.8125rem;
    height: 54.8125rem;
    position: absolute;
    background-image: url(../../images/triangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    right: -10%;
    top: 0;
    animation: rotate linear infinite 20s;
  }
}
