@use "sass:map";
@import "./src/scss/variables";

$column-width-xs: 100%;
$column-width-sm: 70%;
$column-width-md: 30%;
$column-width-lg: 50%;

.footer {
  background-color: map.get($theme-colors, "bg-dark");
  color: map.get($theme-colors, "text-light");

  &__columns {
    display: flex;
    flex-direction: column;
    gap: map.get($spaces, sm);

    @media (min-width: map.get($grid-breakpoints, sm)) {
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }

  &__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: $column-width-xs;

    @media (min-width: map.get($grid-breakpoints, sm)) {
      min-width: $column-width-sm;
    }

    @media (min-width: map.get($grid-breakpoints, md)) {
      min-width: $column-width-md;
    }

    @media (min-width: map.get($grid-breakpoints, lg)) {
      min-width: $column-width-lg;
    }
  }

  &__column-heading {
    margin-bottom: map.get($spaces, xs);
    font-size: map.get($font-size, md);

    @media (min-width: map.get($grid-breakpoints, xl)) {
      margin-bottom: map.get($spaces, sm);
    }
  }

  &__author-link {
    margin-left: map.get($spaces, xxs);
  }

  &__list-item:not(:last-of-type) {
    margin-bottom: map.get($spaces, xs);
  }

  &__column-link {
    display: flex;
    align-items: center;
  }

  &__social-icon {
    margin-right: map.get($spaces, xxs);
  }
}
