.logo {
  display: flex;
  min-height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;

  &_place_header {
    max-width: 12rem;
    background-image: url("../images/logo.svg");

    &.logo_type_en {
      background-image: url("../images/yandex.svg"),
        url("../images/practicum.svg");
      background-position: left center, left 3rem center;
    }
  }

  &_place_footer {
    margin-bottom: 1rem;
    background-image: url("../images/logo_white.svg");

    &.logo_type_en {
      background-image: url("../images/yandex_white.svg"),
        url("../images/practicum_white.svg");
      background-position: left center, left 3rem center;
    }
  }
}
