@use "sass:map";
@import "./src/scss/variables";

.section-title {
  font-size: map.get($font-size, lg);
  text-align: center;

  &_theme_dark {
    color: map.get($theme-colors, "text-light");
  }
}
