@use "sass:map";
@import "./src/scss/variables";

$background-image-size-md: 50%;
$background-image-size-xl: 32rem;
$background-image-left-position: 25%;

.feynman {
  background-color: map.get($theme-colors, "bg-light");
  background-image: url("../images/feinman.webp");
  background-position: right bottom;
  background-size: auto map.get($spaces, xxl);
  background-repeat: no-repeat;

  @media (min-width: map.get($grid-breakpoints, md)) {
    background-size: $background-image-size-md auto;
  }

  @media (min-width: map.get($grid-breakpoints, xl)) {
    background-position: left ($background-image-left-position) bottom;
    background-size: auto $background-image-size-xl;
  }

  &__title {
    font-size: map.get($font-size, lg);

    @media (min-width: map.get($grid-breakpoints, xl)) {
      text-align: center;
    }
  }

  &__subtitle {
    @media (min-width: map.get($grid-breakpoints, xl)) {
      text-align: center;
    }
  }

  &__link {
    @media (min-width: map.get($grid-breakpoints, xl)) {
      text-align: right;
    }
  }
}
