.feynman {
  background-color: #f2f2f2;
  background-image: url("../images/feinman.webp");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 15rem;

  @media screen and (min-width: 768px) {
    background-size: 50% auto;
  }

  @media screen and (min-width: 1280px) {
    background-position: left 25% bottom;
    background-size: auto 32rem;
  }

  &__title {
    font-size: 2.441rem;

    @media screen and (min-width: 1280px) {
      text-align: center;
    }
  }

  &__subtitle {
    @media screen and (min-width: 1280px) {
      text-align: center;
    }
  }

  &__link {
    @media screen and (min-width: 1280px) {
      text-align: right;
    }
  }
}

