.two-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

@media screen and (min-width: 768px) {
  .two-columns {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
