@use "sass:map";
@import "./src/scss/variables";

$video-width-xs: 50%;
$video-width-xl: 35rem;

.video {
  &__iframes {
    display: grid;
    gap: map.get($spaces, xs);

    @media (min-width: map.get($grid-breakpoints, lg)) {
      grid-template-columns: repeat(2, $video-width-xs);
      justify-content: center;
    }

    @media (min-width: map.get($grid-breakpoints, xl)) {
      grid-template-columns: repeat(2, $video-width-xl);
    }
  }

  &__item {
    background-color: black;
  }
}
