.video {
  &__iframes {
    display: grid;
    gap: 1.25rem;

    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(2, 50%);
      justify-content: center;
    }

    @media screen and (min-width: 1280px) {
      grid-template-columns: repeat(2, 35rem);
    }
  }

  &__item {
    background-color: black;
  }
}
