@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/centered-block/centered-block.css);
@import url(../blocks/description/description.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);
@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/page/page.css);
@import url(../blocks/root/root.css);
@import url(../blocks/table/table.css);
@import url(../blocks/table/__cell/table__cell.css);
@import url(../blocks/table/__cell/_theme/table__cell_theme_dark.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__text/table__text.css);
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/two-columns/__span-accent/two-columns__span-accent.css);
