.page__section {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  margin: 3rem auto;
  gap: 3rem;
}

@media screen and (min-width: 992px) {
  .page__section {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 1280px) {
  .page__section {
    padding: 0;
    margin: 6rem auto;
    max-width: 80%;
  }
}
