@use "sass:map";
@import "./src/scss/variables";

$quote-width: 50%;
$image-width: 100%;
$image-height: 38rem;

.khan {
  background-color: map.get($theme-colors, "bg-light");

  &__container {
    @media (min-width: map.get($grid-breakpoints, lg)) {
      padding-bottom: 0;
    }
  }

  &__title {
    font-size: map.get($font-size, lg);
  }

  &__quote {
    @media (min-width: map.get($grid-breakpoints, md)) {
      max-width: $quote-width;
    }
  }

  &__book-container {
    display: flex;
    flex-direction: column;
    gap: map.get($spaces, sm);

    @media (min-width: map.get($grid-breakpoints, lg)) {
      flex-direction: row;
    }
  }

  &__book-pic {
    max-width: $image-width;
    height: auto;
    object-position: top left;
  }

  &__book-pic-wrap {
    display: flex;
    max-height: $image-height;
  }
}
