.resources__logo {
  display: flex;
  padding: 0;
  margin: 0 auto;
  object-fit: contain;
  transition: opacity 0.5s ease-out, transform 0.5s ease-in-out;
}

@media screen and (min-width: 992px) {
  .resources__logo:hover {
    opacity: 0.3;
    transform: scale(1.2);
  }
}
