@use "sass:map";
@import "./src/scss/variables";

$container-width: 73%;

.techniques {
  &__cards {
    align-self: center;

    @media (min-width: map.get($grid-breakpoints, lg)) {
      min-width: $container-width;
      max-width: $container-width;
    }
  }
}
