@use "sass:map";
@import "./src/scss/variables";

$background-image-size-md: 60%;
$background-image-size-lg: 50%;
$background-image-size-xl: 40rem;
$text-width-md: 26rem;
$text-width-lg: 45.625rem;

.header {
  min-height: $background-image-size-xl;
  background-color: map.get($theme-colors, "bg-light");
  background-image: url("../images/two_again.webp");
  background-position: right bottom;
  background-size: auto map.get($spaces, xxl);
  background-repeat: no-repeat;

  @media (min-width: map.get($grid-breakpoints, md)) {
    background-size: $background-image-size-md auto;
  }

  @media (min-width: map.get($grid-breakpoints, lg)) {
    background-size: $background-image-size-lg auto;
  }

  @media (min-width: map.get($grid-breakpoints, xl)) {
    background-size: auto $background-image-size-xl;
  }

  &__title {
    max-width: $text-width-md;
    font-size: map.get($font-size, xl);
    line-height: map.get($line-height, sm);

    @media (min-width: map.get($grid-breakpoints, lg)) {
      max-width: $text-width-lg;
      font-size: map.get($font-size, xxl);
      line-height: map.get($line-height, xs);
    }
  }

  &__subtitle {
    max-width: $text-width-md;

    @media (min-width: map.get($grid-breakpoints, lg)) {
      font-size: map.get($font-size, xs);
      line-height: map.get($line-height, md);
    }
  }

  &__link {
    padding-left: map.get($spaces, xxs);
  }
}
