.header {
  min-height: 40rem;
  background-color: #f2f2f2;
  background-image: url("../images/two_again.webp");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 15rem;

  &__title {
    max-width: 27.5rem;
    font-size: 3.052rem;
    line-height: 1.3;

    @media screen and (min-width: 992px) {
      max-width: 45.625rem;
      font-size: 6.375rem;
      line-height: 0.94;
    }
  }

  &__subtitle {
    max-width: 24.25rem;

    @media screen and (min-width: 992px) {
      font-size: 1.125rem;
      line-height: 1.39;
    }
  }

  &__link {
    padding-left: 0.2rem;
  }

  @media screen and (min-width: 768px) {
    background-size: 60% auto;
  }

  @media screen and (min-width: 992px) {
    background-size: 50% auto;
  }

  @media screen and (min-width: 1280px) {
    background-size: auto 40rem;
  }
}
