.header {
  min-height: 40rem;
  background-color: #f2f2f2;
  background-image: url("../../images/two_again.webp");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 15rem;
}

@media screen and (min-width: 768px) {
  .header {
    background-size: 60% auto;
  }
}

@media screen and (min-width: 992px) {
  .header {
    background-size: 50% auto;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    background-size: auto 40rem;
  }
}
