@use "sass:map";
@import "./src/scss/variables";

$start-transform-position: -15deg;
$end-transform-position: 345deg;
$size-triangle: 55rem;
$left-position-triangle: -10%;

@keyframes rotate {
  0% {
    transform: rotate($start-transform-position);
  }

  100% {
    transform: rotate($end-transform-position);
  }
}

.kaufman {
  position: relative;
  background-color: map.get($theme-colors, "bg-dark");

  &::after {
    @media (min-width: map.get($grid-breakpoints, xl)) {
      content: "";
      position: absolute;
      top: 0;
      right: $left-position-triangle;
      min-width: $size-triangle;
      min-height: $size-triangle;
      background-image: url("../images/triangle.svg");
      background-size: cover;
      background-repeat: no-repeat;
      animation: rotate linear infinite $animation-duration;
    }
  }
}
