.kaufman {
  position: relative;
  background-color: #1f1f1f;

  &::after {
    @media screen and (min-width: 1280px) {
      content: "";
      position: absolute;
      top: 0;
      right: -10%;
      min-width: 55rem;
      min-height: 55rem;
      background-image: url("../images/triangle.svg");
      background-repeat: no-repeat;
      background-size: cover;
      animation: rotate linear infinite 20s;
    }
  }
}
