.page__container {
  max-width: 100rem;
  padding: 3rem 1rem;
}

@media screen and (min-width: 992px) {
  .page__container {
    padding: 3rem;
  }
}

@media screen and (min-width: 1280px) {
  .page__container {
    padding: 6rem;
  }
}
