.logo_place_header {
  height: 2rem;
  background-image: url('../../../../images/logo.svg');
  position: absolute;
  left: 1rem;
  top: 1.875rem;
}

@media screen and (min-width: 992px) {
  .logo_place_header {
    left: 3rem;
  }
}
