@use "sass:map";
@import "./src/scss/variables";

.section-subtitle {
  font-weight: map.get($font-weight, "bold");
  text-align: center;

  &_theme_dark {
    color: map.get($theme-colors, "text-light");
  }
}
