.khan__buy-link {
  text-decoration: none;
  color: #006cd6;
  align-self: flex-start;
  transition: opacity 1s ease-out;
}

@media screen and (min-width: 992px) {
  .khan__buy-link:hover {
    opacity: 0.3;
  }
}
