.khan__buy-link {
  font-size: 1.875rem;
  line-height: 1.4;
  text-decoration: none;
  color: #006cd6;
  align-self: flex-start;
  transition: opacity 1s ease-out;
}

.khan__buy-link:hover {
  opacity: 0.3;
}
